#
# This file is used for converting LaTeX commands by simple text exchange.
# Write the LaTex command with slash, followed by comma.
# The rest of the line till the . character will be written to the RTF file
# instead of the command.
# After the # character everything is ignored till end of line.
# To select a specific font use *fontname*. Make sure that the fontname is
# listed in the fonts configuration file at least as dummy.
# The * character is written as **
#
# If you use either the MT Extra font or Symbol font here conversion 
# will probably fail when equation fields are used.
#
\\,\par .
\AA,\'c5.
\aa,\'e5.
\AE,\'c6.
\ae,\'e6.
#\aleph,{\u8501**}.
#\aleph,{\u1488**}. 
#\amalg,{\u8720**}.
#\angle,{\u8736**}.
#\approx,{\u8776**}.
\approxeq,{\u8778**}.
\arccos,{\plain arccos}.
\arcsin,{\plain arcsin}.
\arctan,{\plain arctan}.
\arg,{\plain arg}.
\asymp,{\u8781**}.
\backprime,{\u8245**}.
\backsim,{\u8765**}.
\backsimeq,{\u8909**}.
\backslash,\\.
\barwedge,{\u8892**}.
\because,{\u8757**}.
#\beth,{\u8502**}.
\beth,{\u1489**}.
\between,{\u8812**}.
\bigcirc,{\u9675**}.
\bigskip,\par \par \par.
#\bigstar,{\u9733**}.         #not available
\bigstar,{\u8727**}.
\bigtriangledown,{\u9661**}.
\bigtriangleup,{\u9651**}.
\blackcircle,{\u8226**}.
\blacksquare,{\u9642**}.
\blacktriangle,{\u9652**}.
\blacktriangledown,{\u9662**}.
\blacktriangleleft,{\u9666**}.
\blacktriangleright,{\u9656**}.
\bmod,{\plain mod}.
\bowtie,{\u8904**}.
\Box,{\u9633**}.
\boxminus,{\u8863**}.
\boxplus,{\u8862**}.
\boxtimes,{\u8864**}.
\Bumpeq,{\u8782**}.
\bumpeq,{\u8783**}.
#\cap,{\u8745**}.
\Cap,{\u8915**}.
#\cdot,{\u8901**}.
#\cdots,{\u8943**}.
\centerdot,{\u8729**}.
#\circ,{\u8728**}.
\circeq,{\u8791**}.
\circledast,{\u8859**}.
\circledcirc,{\u8858**}.
\circleddash,{\u8861**}.
#\clubsuit,{\u9827**}.
\colon,: .
\Colon,{\u8759**}.
\coloneq,{\u8788**}.
\complement,{\u8705**}.
#\cong,{\u8773**}.
#\coprod,{\u8720**}.
\copyright,\'a9.
\cos,{\plain cos}.
\cosh,{\plain cosh}.
\cot,{\plain cot}.
\coth,{\plain coth}.
\csc,{\plain csc}.
#\cup,{\u8746**}.
\Cup,{\u8914**}.
\curlyeqprec,{\u8926**}.
\curlyeqsucc,{\u8927**}.
\curlyvee,{\u8910**}.
\curlywedge,{\u8911**}.
\curvearrowleft,{\u8630**}.
\curvearrowright,{\u8631**}.
\CYRBuki,{\u1041**}.
\CYRbuki,{\u1073**}.
\CYRdobro,{\u1076**}.
\CYRDsche,{\u1069**}.
\CYRFert,{\u1060**}.
\CYRfert,{\u1092**}.
\CYRGlagol,{\u1043**}.
\CYRglagol,{\u1075**}.
\CYRIsche,{\u1048**}.
\CYRische,{\u1080**}.
\CYRJa,{\u1102**}.
\CYRJerr,{\u1066**}.
\CYRjerr,{\u1098**}.
\CYRJerui,{\u1067**}.
\CYRjerui,{\u1099**}.
\CYRJher,{\u1068**}.
\CYRjher,{\u1100**}.
\CYRJu,{\u1046**}.
\CYRju,{\u1078**}.
\CYRKako,{\u1050**}.
\CYRkako,{\u1082**}.
\CYRLjudi,{\u1051**}.
\CYRljudi,{\u1083**}.
\CYRmuislette,{\u1084**}.
\CYRnasch,{\u1085**}.
\CYRPakoy,{\u1055**}.
\CYRpakoy,{\u1087**}.
\CYRScha,{\u1064**}.
\CYRscha,{\u1096**}.
\CYRSchiwete,{\u1049**}.
\CYRschiwete,{\u1081**}.
\CYRSchtscha,{\u1065**}.
\CYRschtscha,{\u1097**}.
\CYRSemlja,{\u1047**}.
\CYRsemlja,{\u1101**}.
\CYRtjsche,{\u1070**}.
\CYRTscherw,{\u1061**}.
\CYRtscherw,{\u1093**}.
\CYRtwerdo,{\u1090**}.
\CYRU,{\u1059**}.
\CYRwjedi,{\u1074**}.
\CYRZelo,{\u1071**}.
\CYRzelo,{\u1103**}.
\CYRZui,{\u1062**}.
\CYRzui,{\u1094**}.
\dag,\'86.
\dagger,\'86.
#\daleth,{\u8504**}.
\daleth,{\u1491**}.
\dashv,{\u8867**}.
\ddag,\'87.
\ddagger,\'87.
\ddddot,{\u8412**}.        #not available
#\ddots,{\u8945**}.
\deg,{\plain deg}.
\degree,\'b0.
\degrees,\'b0.
\degres,\'b0.
\det,{\plain det}.
#\Diamond,{\u10023**}.     #not available
\diamond,{\u8900**}.
#\diamondsuit,{\u9830**}.
\digamma,{\i\u989**}.
\dim,{\plain dim}.
\divideontimes,{\u8903**}.
\dlcorn,{\u8990**}.        #not available
\doteq,{\u8784**}.
\Doteq,{\u8785**}.
\doteqdot,{\u8785**}.
\dotminus,{\u8760**}.
\dotplus,{\u8724**}.
\doublecap,{\u8915**}.
\doublecup,{\u8914**}.
\downdownarrows,{\u8650**}.
\downharpoonleft,{\u8643**}.
\downharpoonright,{\u8642**}.
\drcorn,{\u8991**}.        #not available
#\ell,{\u8467**}.
#\emptyset,{\u8709**}.
#\epsilon,{\u949**}.
\eqcirc,{\u8790**}.
\eqcolon,{\u8789**}.
\eqsim,{\u8770**}.
\eqslantless,{\u8924**}.
#\equiv,{\u8801**}.
#\exists,{\u8707**}.
\exp,{\plain exp}.
\fallingdotseq,{\u8786**}.
\flat,{\u9837**}.
#\forall,{\u8704**}.
\frown,{\u8994**}.
\gcd,{\plain gcd}.
#\ge,{\u8805**}.
#\geq,{\u8805**}.
\geqq,{\u8807**}.
\geqslant,{\u8805**}.
\gg,>>.
#\gg,{\u8811**}.
\Gg,{\u8921**}.
\ggg,{\u8921**}.
\gggtr,{\u8921**}.
#\gimel,{\u8503**}.
\gimel,{\u1490**}.
\gneqq,{\u8809**}.
\gnsim,{\u8935**}.
\gtrdot,{\u8919**}.
\gtreqless,{\u8923**}.
\gtrless,{\u8823**}.
\gtrsim,{\u8819**}.
\guillemotleft,\'ab.
\guillemotright,\'bb.
\guilsinglleft,\'8b.
\guilsinglright,\'9b.
#\hbar,{\i \u1115**}.
#\heartsuit,{\u9829**}.
\hom,{\plain hom}.
\hookleftarrow,{\u8617**}.
\hookrightarrow,{\u8618**}.
\hslash,{\u8463**}.
\iint,{\u8748**}.
#\Im,{\u8465**}.
\imath,{\u305**}.
#\in,{\u8712**}.
\inf,{\plain inf}.
#\infty,{\u8734**}.
#\int,{\u8747**}.
\jmath,{\u58068**}.   #not available
\Join,{\u8904**}.
\ker,{\plain ker}.
\L,{\u321**}.
\l,{\u322**}.
#\land,{\u8743**}.
#\langle,{\u9001**}.    #not available
#\lceil,{\u8968**}.
#\ldots,{\u8230**}.
#\le,{\u8804**}.
\leadsto,{\u8669**}.
\leftarrowtail,{\u8610**}.
\leftharpoondown,{\u8637**}.
\leftharpoonup,{\u8636**}.
\leftrightharpoons,{\u8651**}.
\leftrightsquigarrow,{\u8621**}.
\leftthreetimes,{\u8907**}.
#\leq,{\u8804**}.
\leqq,{\u8806**}.
\leqslant,{\u8804**}.  #not available, approximated by leq
\lessdot,{\u8918**}.
\lesseqgtr,{\u8922**}.
\lessgtr,{\u8822**}.
\lesssim,{\u8818**}.
#\lfloor,{\u8970**}.
\lg,{\plain lg}.
\lhd,{\u9665**}.   
\lim,{\plain lim}.
\liminf,{\plain liminf}.
\limsup,{\plain limsup}.
\ll,<<.
#\ll,{\u8810**}.
\Ll,{\u8920**}.
\llcorner,{\u8990**}.  #not available
\Lleftarrow,{\u8666**}.
\lll,{\u8920**}.
\llless,{\u8920**}.
\ln,{\plain ln}.
\lneqq,{\u8808**}.
\lnsim,{\u8934**}.
\log,{\plain log}.
\Longleftarrow,{\u10232**}.                #not available
\Longleftrightarrow,{\u10234**}.           #not available
\longmapsto,{\u10236**}.
\Longrightarrow,{\u10233**}.               #not available
\looparrowleft,{\u8619**}.
\looparrowright,{\u8620**}.
#\lor,{\u8744**}.
\lozenge,{\u10023**}.              #not available
\lrcorner,{\u8991**}.              #not available
\Lsh,{\u8624**}.
\ltimes,{\u8905**}.
\maltese,{\u10016**}.              #not available
#\mapsto,{\u8614**}.
\max,{\plain max}.
\measuredangle,{\u8737**}.
\medskip,\par \par.
#\mho,{\u8487**}.
\mid,|.
\min,{\plain min}.
\minus,{\u8722**}.
\models,{\u8871**}.
#\mp,{\u8723**}.
\multimap,{\u8888**}.
#\nabla,{\u8711**}.
\napprox,{\u8777**}.
\natural,{\u9838**}.
\ncong,{\u8775**}.
#\ne,{\u8800**}.
#\neq,{\u8800**}.
\nequiv,{\u8802**}.
\newline,\line .
\nexists,{\u8708**}.
\ngeq,{\u8817**}.
\ngeqslant,{\u8817**}.
\ngtr,{\u8815**}.
\ni,{\u8715**}.
\nleftarrow,{\u8602**}.
\nLeftarrow,{\u8653**}.
\nleftrightarrow,{\u8622**}.
\nLeftrightarrow,{\u8654**}.
\nleq,{\u8816**}.
\nleqslant,{\u8816**}.
\nless,{\u8814**}.
\nmid,{\u8740**}.
\notin,{\u8713**}.
\nparallel,{\u8742**}.
\nprec,{\u8832**}.
\npreceq,{\u8928**}.
\nrightarrow,{\u8603**}.
\nRightarrow,{\u8655**}.
\nsim,{\u8769**}.
\nsimeq,{\u8772**}.
\nsubset,{\u8836**}.
\nsubseteq,{\u8840**}.
\nsucc,{\u8833**}.
\nsucceq,{\u8929**}.
\nsupset,{\u8837**}.
\ntriangleleft,{\u8938**}.
\ntrianglelefteq,{\u8940**}.
\ntriangleright,{\u8939**}.
\ntrianglerighteq,{\u8941**}.
\nvdash,{\u8876**}.
\nvDash,{\u8877**}.
\nVdash,{\u8878**}.
\nVDash,{\u8879**}.
\O,\'d8.
\o,\'f8.
\odot,{\u8857**}.
\OE,\'8c.
#\OE,{\u338**}.
\oe,\'9c.
#\oe,{\u339**}.
\oint,{\u8750**}.
\ominus,{\u8854**}.
#\oplus,{\u8853**}.
#\oslash,{\u8856**}.
#\otimes,{\u8855**}.
\P,\'b6.
\parallel,||.
#\parallel,{\u8741**}.
#\partial,{\u8706**}.
#\perp,{\u8869**}.
\pitchfork,{\u8916**}.
\pounds,\'a3.
\Pr,{\plain Pr}.
#\prec,{\u8826**}.
\preceq,{\u10927**}.     #not available
\precnsim,{\u8936**}.
\precsim,{\u8830**}.
\precurlyeq,{\u8828**}.
\prime,'.
#\prod,{\u8719**}.
#\propto,{\u8733**}.
\questeq,{\u8799**}.
\quotedblbase,\'84.
\quotesinglbase,\'82.
#\rangle,{\u9002**}.      #not available
#\rceil,{\u8969**}.
#\Re,{\u8476**}.
#\rfloor,{\u8971**}.
\rhd,{\u9655**}. 
\rightarrowtail,{\u8611**}.
\rightharpoondown,{\u8641**}.
\rightharpoonup,{\u8640**}.
#\rightleftharpoons,{\u8652**}.
\rightthreetimes,{\u8908**}.
\risingdotseq,{\u8787**}.
\Rrightarrow,{\u8667**}.
\Rsh,{\u8625**}.
\rtimes,{\u8906**}.
\S,\'a7.
\sec,{\plain sec}.
\setminus,{\u8726**}.
\sharp,{\u9839**}.
\sim,\'7e.
#\sim,{\u8764**}.
\simeq,{\u8771**}.
\sin,{\plain sin}.
\sinh,{\plain sinh}.
\slash,/.
\smallfrown,{\u8994**}.
\smallskip,\par.
\smile,{\u8995**}.
#\spadesuit,{\u9824**}.
\sphericalangle,{\u8738**}.
\sqcap,{\u8851**}.
\sqcup,{\u8852**}.
\sqsubset,{\u8847**}.
\sqsubseteq,{\u8849**}.
\sqsupset,{\u8848**}.
\sqsupseteq,{\u8850**}.
\square,{\u9633**}.
\ss,\'df.
#\SS,{¥}.
\star,{\u8902**}.
#\subset,{\u8834**}.
\Subset,{\u8912**}.
#\subseteq,{\u8838**}.
\subsetneq,{\u8842**}.
#\succ,{\u8827**}.
\succcurlyeq,{\u8829**}.
\succeq,{\u10928**}.      #not available
\succnsim,{\u8937**}.
\succsim,{\u8831**}.
#\sum,{\u8721**}.
\sup,{\plain sup}.
#\supset,{\u8835**}.
\Supset,{\u8913**}.
#\supseteq,{\u8839**}.
\supsetneq,{\u8843**}.
#\surd,{\u8730**}.
\tan,{\plain tan}.
\tanh,{\plain tanh}.
#\textalpha,{\u945**}.
\textasciicircum,^.
\textasciitilde,~.
\textbackslash,\\.
\textbar,|.
#\textbeta,{\u946**}.
\textbullet,\'95.
#\textbullet,{\u8226**}.
\textcent,\'a2.
#\textchi,{\u967**}.
#\textcircled,{¥}.
\textcompwordmark,.
\textcopyright,\'a9.
\textcurrency,\'a4.
\textdegree,\'b0.
#\textDelta,{\u916**}.
#\textdelta,{\u948**}.
\textdiv,\'f7.
\textellipsis,\'85.
#\textellipsis,{\u8230**}.
#\textemdash,\emdash .
\textemdash,\'97.
#\textemdash,{\u8212**}.
#\textendash,\endash .
\textendash,\'96.
#\textepsilon,{\u949**}.
#\texteta,{\u951**}.
\texteuro,\'80.
\textexclamdown,\'a1.
#\textGamma,{\u915**}.
#\textgamma,{\u947**}.
\textgreater,>.
#\textiota,{\u953**}.
#\textkappa,{\u954**}.
#\textLambda,{\u923**}.
#\textlambda,{\u955**}.
\textless,<.
\textmonetary,\'a4.
\textmu,\'b5.
#\textmu,{\u956**}.
\textmultiply,\'d7.
#\textnu,{\u957**}.
#\textOmega,{\u937**}.
\textonesuperior,\'b9.
\textordfeminine,\'aa.
\textordmasculine,\'ba.
\textparagraph,\'b6.
\textperthousand,\'89.
#\textPhi,{\u934**}.
#\textPi,{\u928**}.
#\textpi,{\u960**}.
\textpm,\'b1.
#\textPsi,{\u936**}.
#\textpsi,{\u968**}.
\textquestiondown,\'bf.
\textquotedbl,".
\textquotedblleft,\'93.
#\textquotedblleft,\ldblquote .
#\textquotedblleft,{\u8220**}.
\textquotedblright,\'94.
#\textquotedblright,\rdblquote .
#\textquotedblright,{\u8221**}.
\textquoteleft,\'91.
#\textquoteleft,\lquote .
#\textquoteleft,{\u8216**}.
\textquoteright,\'92.
#\textquoteright,\rquote .
#\textquoteright,{\u8217**}.
\textregistered,\'ae.
\textsection,\'a7.
#\textSigma,{\u931**}.
#\textsigma,{\u963**}.
#\texttau,{\u964**}.
#\textTheta,{\u920**}.
\textthreesuperior,\'b3.
\texttimes,\'d7.
\texttrademark,\'99.
\texttwosuperior,\'b2.
\textunderscore,_.
\textvisiblespace,_.
#\textXi,{\u926**}.
#\textzeta,{\u950**}.
#\therefore,{\u8756**}.
\top,{\u8890**}.
\triangle,{\u9653**}.
\triangledown,{\u9663**}.
\triangleeq,{\u8796**}.
#\triangleleft,{\u9667**}.
\trianglelefteq,{\u8884**}.
#\triangleright,{\u9657**}.
\trianglerighteq,{\u8885**}.
\twoheadleftarrow,{\u8606**}.
\twoheadrightarrow,{\u8608**}.
\ulcorn,{\u8988**}. 
\ulcorner,{\u8988**}. 
\unlhd,{\u8884**}.
\unrhd,{\u8885**}.
\upharpoonleft,{\u8639**}.
\upharpoonright,{\u8638**}.
\uplus,{\u8846**}.
\upuparrows,{\u8648**}.
\urcorn,{\u8989**}. 
#\varnothing,{\u8709**}.
\varrho,{\u1009**}.
\vartriangle,{\u9651**}.
\vartriangleleft,{\u8882**}.
\vartriangleright,{\u8883**}.
\vdash,{\u8866**}.
\vDash,{\u8872**}.
\Vdash,{\u8873**}.
#\vdots,{\u8758**}.
#\vee,{\u8744**}.
\veebar,{\u8891**}.
\Vert,{\u8741**}.
\vert,|.
\vfill,\par \pard .
\Vvdash,{\u8874**}.
#\wedge,{\u8743**}.
\wedgeq,{\u8793**}.
#\wp,{\u8472**}.
\wr,{\u8768**}.
\|,||.