# $Id: fonts.cfg,v 1.17 2005/09/14 14:25:32 whennings Exp $
#
# This file defines how LaTeX fonts are translated to fonts in the RTF file.
# Each line consists of a LaTeX font name, a comma, the RTF font name, and a period.
#
# Text after a sharp (#) is ignored to the end of the line.
# For repeated LaTeX font names, only the first is used.
# Any font in the LaTeX file not mentioned is mapped to the default font.
# All RTF fonts listed in this file will be in every RTF file header whether used or not.
# No spaces before or after the comma are allowed
#
# Dummy and Dummy2 have been added to improve translation of symbols. 
# These should not be deleted.  Additional symbol fonts can be added
# by defining e.g., Dummy3,MathematicalSymbols.  Dummy3 can then be used
# in direct.cfg to handle other symbols.
#
# The default LaTeX fonts are 
#    Roman (\rm)
#    Slanted (\sl)
#    Sans Serif (\sf)
#    Typewriter (\tt)
#
# W. Hennings 2004-03-22:
# I restored this (older) version in the hope that it produces better compatibility
# of font names across different versions (MS Windows / Macintosh / OpenOffice).
# A version of this file optimized for MS Windows -- at the cost of 
# font names not correctly recognized by e.g. some Macintosh software --
# is available as file fonts_pc.cfg . To use that file, rename it to fonts.cfg 
# after renaming this file (fonts.cfg) to something else (e.g. fonts_g.cfg)
#
# W. Hennings 2004-05-10: inserted Cyrillic font definitions (were missing in this old version)
#
# S. Prahl 2004-05-11: Added Latin2 definitions
#
# W. Hennings 2005-09-13: added Lucida Sans Unicode (for special symbols)
#
# S. Prahl 2007-09-15: Removed unused definitions
#
Roman,Times.
Slanted,Helvetica.
Sans Serif,Helvetica.
Typewriter,Courier.
Calligraphic,Zapf Chancery.
Dummy,Symbol.
Dummy2,MT Extra.
Cyrillic Roman,Times.
Cyrillic Slanted,Helvetica.
Cyrillic Sans Serif,Helvetica.
Cyrillic Typewriter,Courier.
Cyrillic Calligraphic,Zapf Chancery.
Latin2 Roman,Times.
Latin2 Slanted,Helvetica.
Latin2 Sans Serif,Helvetica.
Latin2 Typewriter,Courier.
Latin2 Calligraphic,Zapf Chancery.